.card3__wrapepr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: auto;
    margin-top: 65px;

    .card {
        width: 524px;
        height: 239px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F6F6F6;
        border-radius: 22px;

        .card__image {
            width: 162px;
            height: 179px;
            overflow: hidden;
            flex-shrink: 0;
            padding-left: 34px;
            margin-right: 28px;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px;
            }
        }

        .card__body {
            margin-top: 11px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 11px;

            .card__price {
                display: flex;
                gap: 10px;

                .card__price_one {
                    color: #8B8E99;
                    text-decoration: line-through;

                }
            }

            .stars{
                display: flex;
                gap: 2px;
            }
        }
    }

    .poinet{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 11px;

        span{
            width: 18px;
            height: 18px;
            background: #D9D9D9;
            border-radius: 50%;
        }
    }

}